{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container productContainer">
        <div class="row productRow">
            <div class="d-flex col-md-6 align-items-center">
                <div class="text-center">
                    <img src="{{ listing.image.url }}" class="productImg">
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="productTitle text-center"> {{ listing.title }}</h1>
                <p class="productDescription">{{listing.description}}</P>
                <h3>Price: A${{listing.amount}}</h3>
            </div>
        </div>
    </div>
{% endblock %}